#toolbar {

    z-index: 55!important;
	  padding: 0 20;
}

#toolbar .toolbar-separator {
    height: 64px;
    width: 1px;
    background: rgba(255,255,255,.3);
		margin: 0 20;
}

body{
	font-family: 'Nunito Sans', sans-serif !important;
	background-color: #eee;
}

md-content {
  background-color: #eee;
}

md-card > md-content {
  background-color: #fff;
}

md-autocomplete {
	font-family: 'Ubuntu', sans-serif !important;
}

.material-icons.orange800 { 
	color: #EF6C00; 
	font-size: 36px;
}

p.footnote {
    font-size: 0.85em;
    padding: 5px;
    background-color: rgba(205, 205, 205, 0.45);
}

md-autocomplete > md-autocomplete-wrap > md-progress-linear {
	display: none; 
}