<div flex ng-controller="sideNavCtrl" layout="column" ng-cloak>
	<md-content flex layout-padding>
		<div layout="column" layout-align="top center">
			<span class="md-display-1">Metadata Filter Assistant</span>
			<p style="text-align: center;">
				To demonstrate on a customized search of sales records using OData query options. Search can be done based on the available property of the web service.
				<br>
				A suitable use case would be for developers to understand the possible query options that can be used when consuming the web service.
			</p>

			<div>
				<md-button ng-click="toggleFilterTip()" class="md-fab md-mini md-warn">
					<i><img src="img/ic_help_black_24dp_1x.png"></i>
				</md-button>
			</div>

		</div>
	</md-content>
</div>
<div layout="row" layout-xs="column" layout-wrap>
	<div flex-gt-xs="33" flex-xs>
		<md-card>
			<md-card-content>

				<md-content class="md-padding" style="background-color: #fff">
					<!--<h2>Membership Number Search</h2>-->
					<div class="inset" hide-xs></div>
					<span class="md-subhead">Filter records based on the meta data from <i><b>slshdr</b></i></span>
					<div ng-controller="autoCompleteController as ctrl" layout="column" ng-cloak>
							<form ng-submit="$event.preventDefault()">
								<br>
								 <md-autocomplete
										md-selected-item="ctrl.selectedItem"
										md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
										md-search-text="ctrl.searchText"
										md-selected-item-change="ctrl.selectedItemChange(item)"
										md-items="item in ctrl.querySearch(ctrl.searchText)"
										md-item-text="item.display"
										md-min-length="0"
										md-require-match="true"
										placeholder="Property of service">
										<md-item-template>
											 <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
										</md-item-template>
										<md-not-found>
											 No property matching "{{ctrl.searchText}}" were found.
										</md-not-found>
								 </md-autocomplete>
								<br>
								<div layout="row">
									<md-input-container flex layout-align="center center">
										<label>Filter Operator</label>
										<md-select ng-model="selectedFilterOption" id="ddlFilterOption">
											<md-option value="eq">Equal</md-option>
											<md-option value="ne">Not equal</md-option>
										</md-select>
									</md-input-container>
								</div>
								<div layout="row">
									<md-input-container flex layout-align="center center">
										<label>Filter Value</label>
										<input id="txtFilterValue" ng-model="filterValue" >
									</md-input-container>
								</div>
								<div layout="row">
									<md-input-container flex layout-align="center center">
										<label>Number of entries to show</label>
										<md-select ng-model="selectedTopNumber" id="ddlTopNumber">
											<md-option value="10">10</md-option>
											<md-option value="25">25</md-option>
											<md-option value="50">50</md-option>
											<md-option value="100">100</md-option>
										</md-select>
									</md-input-container>
								</div>
								<div flex layout="column"  layout-align="center center" layout-wrap>
									<md-button type="Submit" ng-click="clickAdvancedFilter(ctrl.selectedItem.display, selectedFilterOption, filterValue, selectedTopNumber)" class="md-raised md-primary">
										Search
									</md-button>
								</div>
								<br/>
								<p ng-hide="filterValue == null" class="footnote">
									Query Option: <code>~/slshdr/?$filter={{ctrl.selectedItem.display || '[Property of Service]'}} {{selectedFilterOption || '[Filter Operator]'}} {{filterValue || '[Filter Value]'}} $top={{selectedTopNumber || '[Number of Entries]'}}</code>
								</p>
							</form>
						</div>
				</md-content>
					
			</md-card-content>
		</md-card>
	</div>
	<div flex-gt-xs="66" flex-xs ng-if="dataOutput.length > 0">
		<md-card>
			<md-card-content>
				<md-content class="md-padding" style="background-color: #fff">
					<div class="inset" hide-xs></div>
					<span class="md-subhead">Enter values for quick filtering of data in the results</span>
						<div layout="row">
							<md-input-container flex layout-algin="center center">
								<input id="txtQuickFilter" ng-model="quickFilter" placeholder="Quick Filter" class="form-control" >
							</md-input-container>
						</div>
				</md-content>
			</md-card-content>
		</md-card>
		<!--Material Design Data Table-->
		<md-card>
			<md-toolbar class="md-accent md-hue-1" aria-hidden="false">
				<div class="md-toolbar-tools">
					<span class="md-title">Search Result(s)</span>
					<span flex></span>
					<span class="md-caption"><i>Data retrieved from <code><b>slshdr</b></code> web service</i></span>
				</div>
			</md-toolbar>

			<md-table-container>
				<table md-table="" md-row-select="" multiple="" ng-model="selected" md-progress="promise" class="ng-pristine ng-untouched ng-valid md-table md-row-select" aria-invalid="false">
					<thead md-head="" class="md-head">
						<tr md-row="" class="md-row">
							<th md-column="" md-order-by="" class="md-column md-numeric md-sort"><span>Receipt Number</span></th>
							<th md-column="" md-numeric="" class="md-column"><span>Transaction Date</span></th>
							<th md-column="" md-numeric="" class="md-column">Selling Location</th>
							<th md-column="" md-numeric="" class="md-column">Membership Number</th>
							<th md-column="" md-numeric="" class="md-column">Transaction Net Amount</th>
						</tr>
					</thead>
					<tbody md-body="" class="md-body">
						<tr md-row="" class="md-row" ng-repeat="record in dataOutput | filter:quickFilter | orderBy:sortField:reverse">
							<td md-cell="" class="md-cell"><b><a ng-href="#/salesheader/{{ record.ReceiptNumber }}">{{record.ReceiptNumber}}</a></b></td>
							<td md-cell="" class="md-cell">{{record.TransactionDate}}</td>
							<td md-cell="" class="md-cell">{{record.SellingLocation}}</td>
							<td md-cell="" class="md-cell">{{record.MembershipNumber1 || "-"}}</td>
							<td md-cell="" class="md-cell">{{record.TransactionNetAmount | currency}}</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
		</md-card>
	</div>
</div>