<html lang="en" >
   <head>		 
		 	<meta name="viewport" content="width=device-width">
		 	<meta charset="UTF-8">
			<meta name="description" content="A management application to bring various components of the Data Hub Prototype together.">
			<title>Data Hub Management Application</title>
			<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
			<link rel="stylesheet" href="css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
		 	
<!--angular-material-data-table https://cdnjs.com/libraries/angular-material-data-table-->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.css">

			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--angular-material-data-table https://cdnjs.com/libraries/angular-material-data-table-->
		 	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.js"></script>
		 	
		 	<script src="js/xmlToJson.js"></script>
			<script src="js/config.json"></script>
			<script src="js/app.js"></script>
			<script src="js/mainController.js"></script>
			<script src="js/autocompleteController.js"></script>
		 
			<!-- Material Design icon font -->
			<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   </head>
	
   <body ng-app="dhApp" ng-controller="mainCtrl" ng-cloak >
		 <!--side nav 1-->
		 <div flex ng-controller="sideNavCtrl" layout="column" ng-cloak>
				<md-sidenav class="md-sidenav-right" md-component-id="searchTip" md-disable-backdrop md-whiteframe="4">
					<md-toolbar class="md-tall md-warn md-hue-3">
						<span flex></span>
						<h2 class="md-toolbar-tools"><i class="material-icons">help   </i>HELP</h2>
					</md-toolbar>

					<md-content layout-wrap>
						<div layout-padding layout="column">
							<span class="md-subhead">Toggle between the tabs on the top left card for the available search features.</span>
							<md-divider></md-divider>
							<span class="md-title">Membership</span>
							<span class="md-body-2">
								Enter a membership number in the field.
								<br>
								Sample input: <code>870000021350</code>
							</span>
							<br>
							<md-divider></md-divider>
							<br>
							<span class="md-title">Date</span>
							<span class="md-body-2">
								Enter a transaction date in the field. Note: Date format is YYYMMDD, as per data from data hub.
								<br>
								Sample input: <code>20170417</code>
							</span>
							<md-button ng-click="toggleSearchTip()" class="md-primary md-hue-1">
								Close
							</md-button>
						</div>
					</md-content>
				</md-sidenav>
			</div>
		 	<!--end of side nav 1-->
		 <!--side nav 1-->
		 <div flex ng-controller="sideNavCtrl" layout="column" ng-cloak>
			 <md-sidenav class="md-sidenav-right" md-component-id="filterTip" md-disable-backdrop md-whiteframe="4">
					<md-toolbar class="md-tall md-warn md-hue-3">
						<span flex></span>
						<h2 class="md-toolbar-tools"><i class="material-icons">help   </i>HELP</h2>
					</md-toolbar>

					<md-content layout-wrap>
						<div layout-padding layout="column">
							<span class="md-subhead">Customize the search using the specific property of the web service by filling up the fields.</span>
							<md-divider></md-divider>
							<span class="md-title">Advanced Filter</span>
							<span class="md-body-2">
								<b>Property of Service</b> – the attribute of the data, which is retrieved from the metadata of the web service<br>
								<b>Filter Operator</b> – the logical operators that will be used in the query option<br>
								<b>Filter Value</b> – the value that will be queried<br>
								<b>Number of entries to show</b> – the top number of rows of records that will be filtered out<br>
								<br>
								Sample input:<br>
								<b>Property of Service:</b> <code>ReceiptNumber</code><br>
								<b>Filter Operator:</b> <code>Equal</code><br>
								<b>Filter Value:</b> <code>1010016800655</code><br>
								<b>Number of entries to show:</b> <code>10</code>
							</span>
							<md-button ng-click="toggleFilterTip()" class="md-primary md-hue-1">
								Close
							</md-button>
						</div>
					</md-content>
				</md-sidenav>
			</div>
		 	<!--end of side nav 1-->
		 
		 
		 
		<md-toolbar layout="row" layout-align="center center" class="md-primary md-hue-1" style="background-color: #fff;">
      <div class="md-toolbar-tools">
				<span flex></span>
				<span class="md-headline"><a ng-href="#/">Data Hub Management Application</a></span>
        <span flex></span>
      </div>
    </md-toolbar>
		
		<!--
		<div ng-controller="navBarCtrl" >
			<md-tabs flex md-center-tabs md-dynamic-height md-border-bottom>
				<md-tab md-on-select="tabSearch()" label="Sales Search Assistant"></md-tab>
				<md-tab md-on-select="tabFilter()" label="Metadata Filter Assistant"></md-tab>
			</md-tabs>
		</div>
		-->
		<md-toolbar layout="row" layout-align="center center" class="md-whiteframe-1dp" style="background-color: #fff;">
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="md-accent md-hue-2" ng-href="#/search">
					<p style="font-weight: 600; letter-spacing: 1px;">Sales Search</p>
				</md-button>
				<md-button class="md-accent md-hue-2" ng-href="#/filter">
					<p style="font-weight: 600; letter-spacing: 1px;">Metadata Filter</p>
				</md-button>
				<span flex></span>
      </div>
    </md-toolbar>
		
		 
		<md-content layout-padding>
				<div class="inset" hide-sm></div>
				<div class="container" ng-app="dhApp" ng-controller="mainCtrl" ng-cloak>    
				<div ng-view></div>
				</div> <!-- /container -->
		</md-content>
		 
   </body>
</html>