<!--Header-->
<div flex layout="column" ng-cloak>
	<md-content flex layout-padding>
		<div layout="column" layout-align="top center">
			<span class="md-display-1">Use Case Selection</span>
			<p style="text-align: center;">
				Pick a use case for the demonstration of the Data Hub Management Application.
			</p>
		</div>
	</md-content>
</div>

<div layout="column">
    <div layout="row" layout-align="center top">
      <md-card flex-gt-md="20" flex-gt-sm="40">
				<img ng-src="img/img-card-search.png" class="md-card-image">
				<div layout-padding>
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">Sales Search Assistant</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<p>To demonstrate on standard search of sales records based on the membership number or transaction date.</p>
					</md-card-content>
					<md-card-actions layout="row" layout-align="end center">
						<md-button class="md-https://material.angularjs.org/latest/img/washedout.pngraised md-primary" ng-href="#/search">
							<b>DEMO</b>
						</md-button>
					</md-card-actions>
				</div>
			</md-card>
			<md-card flex-gt-md="20" flex-gt-sm="40">
				<img ng-src="img/img-card-filter.png" class="md-card-image">
				<div layout-padding>
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">Metadata Filter Assistant</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<p>To demonstrate on a customized search of sales records using OData query options.</p>
					</md-card-content>
					<md-card-actions layout="row" layout-align="end center">
						<md-button class="md-https://material.angularjs.org/latest/img/washedout.pngraised md-primary" ng-href="#/filter">
							<b>DEMO</b>
						</md-button>
					</md-card-actions>
				</div>
			</md-card>
    </div>
</div>