<!--Header-->
<div flex layout="column" ng-cloak>
	<md-content flex layout-padding>
		<div layout="column" layout-align="top center">
			<span class="md-display-1">Product Details</span>
			<p style="text-align: center;">
				CSKU: {{sku}}
			</p>
		</div>
	</md-content>
</div>

<div layout="row" layout-xs="column" layout-wrap ng-if="itdItemMarketingTitleEn != null">
	<span flex></span>
	<div flex-gt-xs="30" flex-xs flex-sm="30">
		<md-card>
			
			<img ng-src="img/img-placeholder.png" class="md-card-image">
			
		</md-card>
	</div>
	<div flex-gt-xs="50" flex-xs flex-sm="50">
		<md-card>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{itdItemMarketingTitleEn}}</span>
					<span class="md-title">Collection Description: {{prdCollectionDescription}}</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<md-tabs md-dynamic-height md-border-bottom>
					<md-tab label="Description">
					<md-content class="md-padding" style="background-color: #fff">
						<div class="inset" hide-xs></div>
						<span class="md-title">CSKU Description: {{itdItemDescription}}</span>
						<br><br>
						<span class="md-subhead">{{itdItemMarketingDescriptionEn}}</span>
						<br>
					</md-content>
					</md-tab>
					<md-tab label="商品详情">
					<md-content class="md-padding" style="background-color: #fff">
						<div class="inset" hide-xs></div>
						<span class="md-title">{{itdItemMarketingTitleZh}}</span>
						<br><br>
						<span class="md-subhead">{{itdItemMarketingDescriptionZh}}</span>
						<br>
					</md-content>
					</md-tab>
					<md-tab label="製品詳細">
					<md-content class="md-padding" style="background-color: #fff">
						<div class="inset" hide-xs></div>
						<span class="md-title">{{itdItemMarketingTitleJa}}</span>
						<br><br>
						<span class="md-subhead">{{itdItemMarketingDescriptionJa}}</span>
						<br>
					</md-content>
					</md-tab>
				</md-tabs>
			</md-card-content>
		</md-card>
	</div>
	<span flex></span>
</div>


<div layout="column" ng-if="itdItemMarketingTitleEn == null">
    <div layout="row" layout-align="center center">
				<div layout-wrap flex>
					<div layout="column" layout-align="center center">
						<span class="md-display-3">
							<!--<i class="material-icons" style="font-size: 112px; color: #757575;">warning</i>-->
							<i style="color:#9aacb5;"><img src="img/ic_warning_black_48dp_2x.png"></i>
						</span>
						<br>
						<span class="md-headline">No data available for this product.</span>
					</div>
				</div>
    </div>
</div>

<div layout="row" layout-xs="column" layout-wrap>	
	<span flex></span>
	<div layout="row" layout-align="center center">
		<md-button class="md-primary" onclick="goBack()">
			BACK
		</md-button>
	</div>
	<span flex></span>
</div>