<!--Header-->
<div flex layout="column" ng-cloak>
	<md-content flex layout-padding>
		<div layout="column" layout-align="top center" >
			<span class="md-display-1">Sales Details</span>
			<p style="text-align: center;">
				Receipt: {{dataOutputSalesHeader[0].ReceiptNumber}}
			</p>
		</div>
	</md-content>
</div>

<div layout="row" layout-xs="column" layout-wrap>	
	<span flex></span>
	<!--Sales Header (left)-->
	<div flex-gt-xs="20" flex-xs>
		<md-card class="md-padding">
			<md-content>
				<span class="md-body-2">Division: </span>
				<span class="md-body-1"><b>{{dataOutputSalesHeader[0].Division || "-"}}</b></span><br>
				<span class="md-body-2">Selling Location:  </span>
				<span class="md-body-1"><b>{{dataOutputSalesHeader[0].SellingLocation || "-"}}</b></span><br>
				<span class="md-body-2">Store Location:  </span>
				<span class="md-body-1"><b>{{dataOutputSalesHeader[0].StoreLocation || "-"}}</b></span>
			</md-content>
		</md-card>
	</div>
	
	<!--Sales Header (middle)-->
	<div flex-gt-xs="20" flex-xs>
		<md-card class="md-padding">
			<md-content>
				<span class="md-body-2">Business Date:  </span>
				<span class="md-body-1"><b>{{dataOutputSalesHeader[0].BusinessDate || "-"}}</b></span><br>
				<span class="md-body-2">Transaction Date:  </span>
				<span class="md-body-1"><b>{{dataOutputSalesHeader[0].TransactionDate || "-"}}</b></span><br>
				<span class="md-body-2">Transaction Time:  </span>
				<span class="md-body-1"><b>{{dataOutputSalesHeader[0].TransactionTime || "-"}}</b></span>
			</md-content>
		</md-card>
	</div>
	
	<!--Sales Header (right)-->
	<div flex-gt-xs="20" flex-xs>
		<md-card class="md-padding">
			<md-content>
				<span class="md-body-2">Membership Number:  </span>
				<span class="md-body-1"><b>{{dataOutputSalesHeader[0].MembershipNumber1 || "-"}}</b></span><br>
				<span class="md-body-2">Customer Type:  </span>
				<span class="md-body-1"><b>{{dataOutputSalesHeader[0].CustomerType || "-"}}</b></span><br>
				<span class="md-body-2">Customer ID:  </span>
				<span class="md-body-1"><b>{{dataOutputSalesHeader[0].CustomerID || "-"}}</b></span>
			</md-content>
		</md-card>
	</div>
	<span flex></span>
</div>

<div layout="row" layout-xs="column" layout-wrap>	
	<span flex></span>
	<!--Sales Line Details-->
	<div flex-gt-xs="60" flex-xs>
		<md-card>
			<md-toolbar class="md-accent md-hue-1 md-whiteframe-1dp"  aria-hidden="false">
				<div class="md-toolbar-tools">
					<span class="md-title">Sales Line</span>
					<span flex></span>
					<span class="md-caption"><i>Data retrieved from <code><b>slsline</b></code> web service</i></span>
				</div>
			</md-toolbar>
			
			<md-table-container>
				<table md-table="" md-row-select="" multiple="" ng-model="selected" md-progress="promise" class="ng-pristine ng-untouched ng-valid md-table md-row-select" aria-invalid="false">
					<thead md-head="" md-order="query.order" md-on-reorder="getDesserts" class="md-head">
						<tr md-row="" class="md-row">
							<th md-column="" md-order-by="" class="md-column"><span>#</span></th>
							<th md-column="" md-order-by="" class="md-column"><span>SKU Number</span></th>
							<th md-column="" md-numeric="" class="md-column"><span>Quantity</span></th>
							<th md-column="" md-numeric="" class="md-column"><span>Retail Price</span></th>
							<th md-column="" md-numeric="" class="md-column"><span>Tax</span></th>
						</tr>
					</thead>
					<tbody md-body="" class="md-body">
						<tr class="md-row" ng-repeat="record in dataOutputSalesLineProduct | orderBy: 'record.LineNumber'">
							<td md-cell="" class="md-cell">{{record.LineNumber}}</td>
							<td md-cell="" class="md-cell"><b><a ng-href="#/product/{{ record.SkuNumber }}">{{record.SkuNumber}}</a></b>
								<md-button type="Submit" ng-click="clickItemQuickView(record.SkuNumber)" class="md-icon-button">
									<!--<i class="material-icons" style="color:#9aacb5;" >info_outline</i>-->
									<i style="color:#9aacb5;"><img src="img/ic_error_outline_black_24dp_1x.png"></i>
								</md-button>
							</td>
							<td md-cell="" class="md-cell">{{record.LineQuantity}}</td>
							<td md-cell="" class="md-cell">{{record.LineRetail | currency}}</td>
							<td md-cell="" class="md-cell">{{record.LineTax | currency}}</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
		</md-card>
	</div>
	<span flex></span>
</div>

<div layout="row" layout-xs="column" layout-wrap>	
	<span flex></span>
	<!--Amount-->
	<div flex-gt-xs="60" flex-xs>
		<md-card>
			<md-content>
				<div layout="row"  layout-padding>
					<div flex="50" layout="column" layout-align="end end">
						<span class="md-subtitle">Payment Method:</span>
						<span class="md-subtitle">Subtotal:</span>
						<span class="md-subtitle">Total Quantity:</span>
						<span class="md-subtitle">Tax:</span>
						<span class="md-headline"><md-divider></md-divider>Total:</span>
					</div>
					<div flex="50" layout="column" layout-align="end start">
						<span class="md-subtitle">{{dataOutputSalesHeader[0].PaymentMethod1 || "-"}}</span>
						<span class="md-subtitle">{{dataOutputSalesHeader[0].AllCategory | currency}}</span>
						<span class="md-subtitle">{{dataOutputSalesHeader[0].TotalQuantity}}</span>
						<span class="md-subtitle">{{dataOutputSalesHeader[0].TaxAmount | currency}}</span>
						<span class="md-headline"><md-divider></md-divider>{{dataOutputSalesHeader[0].TransactionNetAmount | currency}}</span>
					</div>
				</div>
			</md-content>
		</md-card>
	</div>
	<span flex></span>
</div>

<div layout="row" layout-xs="column" layout-wrap>	
	<span flex></span>
	<div layout="row" layout-align="center center">
		<md-button class="md-primary" onclick="goBack()">
			BACK
		</md-button>
	</div>
	<span flex></span>
</div>