<div flex ng-controller="sideNavCtrl" layout="column" ng-cloak>
	<md-content flex layout-padding>
		<div layout="column" layout-align="top center">
			<span class="md-display-1">Sales Search Assistant</span>
			<p style="text-align: center;">
				To demonstrate on standard search of sales records based on the membership number and transaction date.
				<br>
				A suitable use case would be for sales assistant to retrieve sales information of customers.
			</p>

			<div>
				<md-button ng-click="toggleSearchTip()" class="md-fab md-mini md-warn">
					<i><img src="img/ic_help_black_24dp_1x.png"></i>
				</md-button>
			</div>

		</div>
	</md-content>
</div>

<div layout="row" layout-xs="column" layout-wrap>
	<div flex-gt-xs="33" flex-xs>
		<md-card>
			<!--
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">Title</span>
					<span class="md-subhead">Sub header</span>
				</md-card-header-text>
			</md-card-header>
			-->
			<md-card-content>
				
				<md-tabs md-dynamic-height md-border-bottom>
					<md-tab label="Membership">
					<md-content class="md-padding" style="background-color: #fff">
						<!--<h2>Membership Number Search</h2>-->
						<div class="inset" hide-xs></div>
						<span class="md-subhead">Search for records with the Membership Number</span>
						<form name="mnSearchForm">
							<div layout="row">
								<md-input-container flex layout-align="center center">
									<label>Membership Number</label>
									<input id="txtMembershipNumber" type="text" ng-model="memberNumberInput" />
								</md-input-container>
							</div>

							<div flex layout="column"  layout-align="center center" layout-wrap>
								<md-button class="md-raised md-primary" type="Submit" ng-click="clickFilterMN(memberNumberInput)">
									Search
								</md-button>
							</div>
						</form>
					</md-content>
					</md-tab>
					<md-tab label="Date">
						<md-content class="md-padding" style="background-color: #fff">
							<!--<h2 class="md-display-1">Transaction Date Search</h2>-->
							<div class="inset" hide-xs></div>
							<span class="md-subhead">Search for records on a particular transaction date</span>
							<form name="tdSearchForm">
								<div layout="row">
									<md-input-container flex layout-align="center center">
										<label>Transaction Date</label> 
										<input id="txtTransactionDate" type="text" ng-model="transactionDateInput" />                     
									</md-input-container>
								</div>

								<div flex layout="column"  layout-align="center center" layout-wrap>
									<md-button class="md-raised md-primary" type="Submit" ng-click="clickFilterTD(transactionDateInput)">
										Search
									</md-button>
								</div>
							</form>
						</md-content>
					</md-tab>
				</md-tabs>
			</md-card-content>
		</md-card>
	</div>
	<div flex-gt-xs="66" flex-xs ng-if="dataOutput.length > 0" >
		<md-card>
			<md-card-content>
				<md-content class="md-padding" style="background-color: #fff">
					<div class="inset" hide-xs></div>
					<span class="md-subhead">Enter values for quick filtering of data in the results</span>
						<div layout="row">
							<md-input-container flex layout-algin="center center">
								<input id="txtQuickFilter" ng-model="quickFilter" placeholder="Quick Filter" class="form-control" >
							</md-input-container>
						</div>
				</md-content>
			</md-card-content>
		</md-card>
		<!--Material Design Data Table-->
		<md-card>
			<md-toolbar class="md-accent md-hue-1" aria-hidden="false">
				<div class="md-toolbar-tools">
					<span class="md-title">Search Result(s)</span>
					<span flex></span>
					<span class="md-caption"><i>Data retrieved from <code><b>slshdr</b></code> web service</i></span>
				</div>
			</md-toolbar>
			
			<md-table-container>
				<table md-table="" md-row-select="" multiple="" ng-model="selected" md-progress="promise" class="ng-pristine ng-untouched ng-valid md-table md-row-select" aria-invalid="false">
					<thead md-head="" class="md-head">
						<tr md-row="" class="md-row">
							<th md-column="" md-order-by="" class="md-column md-numeric md-sort"><span>Receipt Number</span></th>
							<th md-column="" md-numeric="" class="md-column"><span>Transaction Date</span></th>
							<th md-column="" md-numeric="" class="md-column">Selling Location</th>
							<th md-column="" md-numeric="" class="md-column">Membership Number</th>
							<th md-column="" md-numeric="" class="md-column">Transaction Net Amount</th>
						</tr>
					</thead>
					<tbody md-body="" class="md-body">
						<tr md-row="" class="md-row" ng-repeat="record in dataOutput | filter:quickFilter | orderBy:sortField:reverse">
							<td md-cell="" class="md-cell"><b><a ng-href="#/salesheader/{{ record.ReceiptNumber }}">{{record.ReceiptNumber}}</a></b></td>
							<td md-cell="" class="md-cell">{{record.TransactionDate}}</td>
							<td md-cell="" class="md-cell">{{record.SellingLocation}}</td>
							<td md-cell="" class="md-cell">{{record.MembershipNumber1 || "-"}}</td>
							<td md-cell="" class="md-cell">{{record.TransactionNetAmount | currency}}</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
		</md-card>
	</div>
</div>